<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Body</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody id="articles"></tbody>
    </table>
    <script>
        fetch("/api/v1/articles")
            .then(res => res.json())
            .then(articles => {
                let table = document.getElementById("articles")
                for (let i in articles) {
                    let item = articles[i]
                    table.innerHTML += `<tr>
                        <td>${item.id}</td>    
                        <td>${item.title}</td>    
                        <td>${item.body}</td>    
                        <td>${item.createdAt}</td>    
                        <td>${item.updatedAt}</td>    
                    </tr>`
                }
            })
    </script>
</body>
</html>